body {
    margin: 0;
    padding: 0;
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Chiều cao của thanh navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}
@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px; /* Thêm thuộc tính bo tròn */
    overflow: hidden; /* Ẩn các phần nằm ngoài phạm vi bo tròn */
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff; /* Màu chữ cho các ô trong bảng */
}
th {
    background-color: #6f42c1; /* Màu header */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Màu xen kẽ cho các hàng */
}

.btnXuLy, .btnOpenDetail {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btnXuLy:hover, .btnOpenDetail:hover {
    background-color: #0056b3;
}

#tinhtrangFilter {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

#tinhtrangFilter:hover {
    border-color: #007bff;
}
